.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.col-form-label {
    line-height: 2.3;
}

.chat-window {
    height: 300px;
    margin-bottom: 15px;
    overflow: scroll;
    border-radius: 4px;
    border: 1px #ccc solid;
}

.chat-line {
    padding: 10px 20px;
    border-bottom: 1px #ccc solid;
}

.chat-line:nth-child(even) {
    background-color: #FAFAFA;
}

.chat-line-time,
.chat-line-nick,
.chat-line-status {
    display: inline-block;
}

.chat-line-time,
.chat-line-status {
    opacity: 0.6;

    font-style: italic;
}

.chat-line-nick {
    opacity: 0.6;

    font-weight: bold;
}

textarea {
    resize: none;
}

.pull-xs-right {
    float: right;
}

.invalid {
    border-color: #FF0061;
}

#chat-form {
    display: none;
}

#chat-container {
    display: flex;
    justify-content: space-between;
}

#chat-container > div {
    display: none;
    width: 48%;
}

#drag-2d {
    width: 100%;
    height: 400px;
    background: url('../images/2d/mapa.jpg');
    background-position: 0px 0px;
    border-left: 1px solid rgb(220,220,220);
    border-right: 1px solid rgb(220,220,220);
    border-bottom: 1px solid rgb(220,220,220);
}

#drag-3d {
    width: 100%;
    margin-bottom: 30px;
}

#drag-3d img {
    width: 100%;
    height: auto;
}
